body {
    padding-left: 250px;
    /* This value should match the width of your sidebar */
}

article {
    display: block;
}

.hero {
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay:hover {
    opacity: 1;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
}

#scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background: #f5f8fd;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    overflow-y: auto;
}

.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    /* Add a border radius to make the background rounded */
    transition: background-color 0.3s ease-in-out;
}

.social-links a:hover {
    background-color: #007bff;
    /* Change the background color on hover */
}

.grey-section {
    background-color: #f9f9f9;
    /* Light gray background for contrast */
}
